<center><h1>问&nbsp;&nbsp;题&nbsp;&nbsp;库</h1><center>
<table>
  <tr width=300sp>
    <td><h2>题目</h2></h2></td>
    <td><h2>问题内容</h2></td>
    <td colspan="2"></td>
  </tr>
  <tr><td><br/></td></tr>
  <% @articles.each do |article| %>
    <tr>
      <td width=200sp><%= article.title %></td>
      <td width=300sp><%= article.text %></td>
      <td width=80sp><%= link_to '查看题目', article_path(article) %></td><!--跳转到相应的article-->
      <td width=80sp><%= link_to '修改题目', edit_article_path(article) %></td>
      <td><%= link_to '删除题目', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <tr><td><br/></td></tr>
  <% end %>
</table>


<%= link_to '发表新题目', new_article_path %>